/*font-family: 'Playfair Display', serif;
font-family: 'Tangerine', cursive;*/

*{
    margin:0;
    padding:0;
}

header{
    display: flex;
    justify-content: space-between;
}

header img{
    width: 200px;
}
.foto-ata{
    height: 100%;
    margin-top: 30px;
} 
header ul{
list-style-type: none;
font-family: 'Playfair Display', serif;
font-size: 1.5rem;
display: flex;
flex-direction: row;
align-items: flex-end;
margin-right: 20px;
gap: 20px;
}

header nav{
    background-color: goldenrod;
    color: beige;
}


main img {
    justify-content: center;
}

h1{
    color:brown;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 2rems;
    padding: 30px;
    margin-top: 1fr;
}
main p{
    color:darkgoldenrod;
    text-align: justify;
    font-family: 'Quicksand', sans-serif;
    font-size: 22;
    display: flex;
    flex-direction: row;
    padding: 1fr;
}

div img{
    width: 320px;
    height: 200px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 10px;  
}

@media screen {max-width: 575px;
    
}

main img {
    display: grid
}

footer{
    color:white;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-size: 50;
    background-color: goldenrod;
    }

footer ul{
    list-style-type: none;
    display: flex;

}
footer img{
    width: 200px;
}

i{
    color: white;
    font-size: 2rem;
}

.menu{
    height: 1200px;
    width: 800px;
    display: flex;
}


footer{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
}

footer ul :nth-child(1){ 
    display: flex;
    padding-right: 15px;
}
/* Página Panes */
.panes div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "ata lin can"
    "ata rol rol"
    "rollo rol rol"
    "don don bis"
    "don don bun"; 
}

.panes h1{
    margin-bottom: 50px;
}

.panes div img:nth-child(9){
    grid-area: lin;
    width: 300px;
    height: auto;
}
.panes div img:nth-child(2){
    grid-area: can;
    width: 300px;
    height: auto;
}
.panes div img:nth-child(3){
    grid-area: rollo;
    width: 300px;
    height: auto;
}
.panes div img:nth-child(4){
    grid-area: rol;
    width: 600px;
    height: auto;
}
.panes div img:nth-child(5){
    grid-area: bis;
    width:300px;
    height: auto;
}
.panes div img:nth-child(6){
    grid-area: don;
    width:600px;
    height: auto;
}
.panes div img:nth-child(7){
    grid-area: ata;
    width:300px;
    height: auto;
}
.panes div img:nth-child(8){
    grid-area: bun;
    width: 300px;
    height: auto;
}

 /* Página promociones */
 .mis-promos{
    height: 400px;
    padding:0.5fr
    grid-row-gap: 15px;
 }

