
$color-uno:darkgoldenrod;

.box{
    height: 30px;
    width: 30px;
    border-radius: 50%;;
    
 }

 .container-box:hover .box-one{
    transform: translateX(1200px);
 }
 .container-box:hover .box-two{
    transform: translateX(1200px);
 }
 .container-box:hover .box-three{
    transform: translateX(1200px);
 }
 
 .box-one{
    background-color: goldenrod;
    transition: all 1.5s linear;
 }

 .box-two{
    background-color: lighten($color-uno,20%);
    transition: all 3s ease-in;
 }

 .box-three{
    background-color: darken($color-uno, 15%);
    transition: all 5s ease-out;
 }
